* {
  font-family: 'Noto Sans Display', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E5E5E5;
  color: #353535;

}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

#header h4 {
  font-size: 1.4em;
  font-weight: 500;
  color: #284B63;
}

#header h4:hover {
  color:#3C6E71;
}

#menu .menu-item {
  color: #353535;
  text-decoration: none;
}

#menu .menu-item:hover {
  color: #3C6E71;
 
}

a.menu-item.margin {
  margin: 0 30px;
}

#hero {
  display: flex;
  padding: 20px 10%;
}

.title{
  font-size: 1.8em;
  line-height: 1.6em;
}

.title h1 {
  font-weight: 600;
}

.title h2 {
  font-weight: 400;
}

.title h3 {
  font-weight: 300;
}

.text {
  margin: 30px 0;
  width: 70%;
}

button {
  padding: 10px 40px;
  background-color: #3C6E71;
  border: #2c5052 1px solid;
  color: #F6F4F4;
  text-transform: uppercase;
  font-weight: 500;
}

button:hover {
  background-color: #284B63;
}

.img-perfil {
  border-radius: 50%;
  width: 250px;
  border: 5px #284B63 solid;
  box-shadow: 8px 8px 0px 5px #284b637c;
  -webkit-box-shadow: 8px 8px 0px 5px #284b637c;
  -moz-box-shadow: 8px 8px 0px 5px #284b637c;
}

.img-perfil:hover {
  border: 5px #3C6E71 solid;
  box-shadow: 8px 8px 0px 5px #3C6E717c;
  -webkit-box-shadow: 8px 8px 0px 5px #3C6E717c;
  -moz-box-shadow: 8px 8px 0px 5px #3C6E717c;
}

#paralax {
  background: url(img/paralax.jpg);
}