* {
  font-family: 'Noto Sans Display', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #353535;

}
body{
  background-color: #E5E5E5;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

#header h4, .title-section {
  font-size: 1.6em;
  font-weight: 500;
  color: #284B63;
  cursor: pointer;

}

#header h4:hover, .title-section:hover {
  color:#3C6E71;
}

#menu .menu-item {
  color: #353535;
  text-decoration: none;
  cursor: pointer;

}

#menu .menu-item:hover {
  color: #3C6E71;
 
}

a.menu-item.margin {
  margin: 0 30px;
}

#hero {
  display: flex;
  padding: 60px 200px;
}

#rigth-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size: 1.8em;
  line-height: 1.6em;
}

.title h1 {
  font-weight: 600;
}

.title h2 {
  font-weight: 400;
}

.title h3 {
  font-weight: 300;
}

.text {
  margin: 30px 0 40px 0;
  width: 70%;
}

button {
  padding: 10px 40px;
  background-color: #3C6E71;
  border: #2c5052 1px solid;
  color: #F6F4F4;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;

}

button:hover {
  background-color: #284B63;]
}

.img-perfil {
  border-radius: 50%;
  width: 250px;
  border: 5px #284B63 solid;
  box-shadow: 8px 8px 0px 5px #284b637c;
  -webkit-box-shadow: 8px 8px 0px 5px #284b637c;
  -moz-box-shadow: 8px 8px 0px 5px #284b637c;
}

.img-perfil:hover {
  border: 5px #3C6E71 solid;
  box-shadow: 8px 8px 0px 5px #3C6E717c;
  -webkit-box-shadow: 8px 8px 0px 5px #3C6E717c;
  -moz-box-shadow: 8px 8px 0px 5px #3C6E717c;
}

#paralax {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(img/paralax.jpg) 40%;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px;
  opacity: 0.85;
}

.quote {
  font-size: 1.7em;
  font-weight: 400;
  background: none;
  color: #E5E5E5;
  text-shadow: 2px 1px 2px rgba(0,0,0,0.6);
}

#projects {
  padding: 60px 40px;

}

.container{
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
   */
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3C6E71;
  padding: 20px 200px;
}

#footer a {
  text-decoration: none;
}

#footer i {
  font-size: 1.8em;
  color: #E5E5E5;
  padding: 5px;
  margin: 0 0 10px 0;
}

#footer i:hover {
  color: #b4b4b4;
}

#footer p {
  color: #E5E5E5;
  font-size: 0.8em;
}