/* font-family: 'Roboto Condensed', sans-serif; */
body{
    background-color: #f3f3f3;
    color:#353535;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0 auto;

}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #284B63;
    font-weight: 500;
    letter-spacing: -1px;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #284B63;
    font-weight: 400;
    letter-spacing: 0px;
}
.espaco{
    margin-bottom: 150px;
}
i {
    margin: 95px 0;
    font-size: 60px;
    color: #cacaca;
}
.content{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.contenttop{
    max-width:80%;
    margin: 0 auto;
}

#top{
        background-color: #3C6E71;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

}

#footer{
    background-color: #3C6E71;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

}

.logo{
/*     float: left;
 */    margin: 20px  auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: #fefefe; 
    line-height: 48px;
    text-align: center;

}

ul.menu {
    text-align: center;
    margin: 30px 0;

}

.menu li {
    list-style: none;
    display: inline-block;
    text-align: right;
}


.menu  li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #fefefe;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    padding: 20px;
}

.menu li a:hover{
    background-color: #284b63;
    color:#fefefe;
    border-bottom: #284b63 solid 3px;

}
.profile-photo{
    height: 180px;
    width: auto;
    float: left;
    margin: 0 15px 0 0;
    vertical-align: middle;
}


.sections{
    display:inline-block;
    background-color: #D9D9D9;
    padding: 20px;
    min-width: 100%;
}
/* 
.sections-2cols{
    display:flex;
    background-color: #D9D9D9;
    padding: 20px;
    min-width: 100%;
} */

#aboutUs p {
    margin-bottom: -8px;
}

#aboutUs h2 {
    margin: 0;
}



i#icone-habilidades {
    color: #284b63;
    float: right;
    font-size: 120px;
    align-content: center;
    vertical-align: middle;
    margin: 90px 49px 0 0;
    float: right;
}

i#icone-habilidades:hover {
    color: #3c6e71;

}

.habilidades-left{
    float: left;
    margin: 0 0 25px 0;
}

.button {
    clear: both;
    text-align: center;
}

.button a {
    text-decoration: none;
    background-color: #3c6e71;
    padding: 15px;
    color: #fefefe;

}
.button a:hover{
    background-color:#284b63 ;
}
.habilidades-item li{
    font-size: 15px;
    line-height: 30px;
    list-style: inside square;

}
.habilidades-item li:hover{
    border-bottom: #284b63 solid 2px;
    text-transform: uppercase;
    color: #284B63;
}

ul.recomenda{
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    margin: 0 15px;
}
li img{
    width: 120px; 
    padding: 0 0 20px 0 ;   
}
.recomenda li{
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
    margin: 0 10px;

}

.recomenda li:hover{
    background-color: #cacaca;
}

.recomenda a{
    text-decoration: none;
    color: #353535;
}

.social{
    display: flex;
    justify-content: center;
    }

 .social i{
    color: #284b63;
    font-size: 30px;
    display: inline-block;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    margin: 0 5px;
    text-decoration: none;
}

.social i:hover{
    color: #3c6e71;
} 

